/* Colores: 
#F34E37     Rojo
#F5F4F5     Blanco
#FFCD38     Amarillo
#3DD9B9     Verde saturado claro
#6CC7B8     Verde gris claro
#009087     Verde saturado medio
#1B615F     Verde saturado oscuro
#7BCEDA     Celeste
#112639     Azul marino
#1f4766     Azul no tan oscuro

font-family: 'Andika New Basic', sans-serif;
font-family: 'Lilita One', cursive;

rgba(108, 199, 184, 0.65) verde opacidad
rgba(0, 144, 135, 0.6);
rgba(255, 205, 56, 0.5);

*/

* {
  box-sizing: border-box;
}

/* -------------------------------------------------------------------------- */
/*                                     p0                                     */
/* -------------------------------------------------------------------------- */

#p0,
#p15 {
  background-color: #3dd9b9;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#h1-p0 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 70px;
  font-weight: 400;
  margin-bottom: 20px;
}

#texto-p0 {
  text-align: center;
  font-family: "Andika New Basic", sans-serif;
  color: #1f4766;
  font-size: 20px;
  margin: 0px 15%;
  line-height: 30px;
}

.btn {
  /* links */
  background-color: #f34e37;
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #f5f4f5;
  font-family: "Andika New Basic", sans-serif;
  margin: 0px auto;
  font-size: 26px;
}

#img-p0 {
  width: 50%;
  align-self: center;
  margin: 18% 0px 30px 0px;
}

/* ----------------------------- Consentimiento ----------------------------- */

.btn-p0 {
  /* links */
  background-color: #009087;
  padding: 6px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #f5f4f5;
  font-family: "Andika New Basic", sans-serif;
  margin: 8px auto;
  font-size: 20px;
}

.btn-p0-2 {
  /* links */
  background-color: #6cc7b8;
  padding: 6px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #f5f4f5;
  font-family: "Andika New Basic", sans-serif;
  margin: 8px auto;
  font-size: 20px;
}

.feedback-text-smol-p0 {
  color: #1f4766;
  font-family: "Andika New Basic", sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 15px 15px 10px 15px;
}

.feedback-p0 {
  background-color: #f5f4f5;
  margin: auto auto; /* 15% from the top and centered */
  padding-bottom: 8px;
  height: auto;
  width: 65%; /* Could be more or less, depending on screen size */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mini-feedback-p0 {
  background-color: #ffcd38;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 22px;
  text-align: center;
  padding: 12px;
}

/* -------------------------------------------------------------------------- */
/*                                     p1                                     */
/* -------------------------------------------------------------------------- */
/* Falta pasar clases e id a _p1 en caso de ser necesario */

#p1 {
  background-color: #f5f4f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#contexto-p1 {
  background-color: rgba(108, 199, 184, 0.65);
  padding: 12px 20px 12px 35px;
  margin-top: 20px;
  margin-right: 23%;
  font-family: "Andika New Basic", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #112639;
  border-radius: 0px 15px 15px 0px;
}

#h1-p1 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 30px;
  font-weight: 400;
  margin: 60px 50px 40px 50px;
}

#contenedor-img-p1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

.img-p1 {
  width: 40%;
  margin: 16px;
}

/* -------------------------------------------------------------------------- */
/*                                     p2                                     */
/* -------------------------------------------------------------------------- */

#p2 {
  background-color: #f5f4f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#h1-p2 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 30px;
  font-weight: 400;
  margin: 30px 40px 30px 40px;
}

#contenedor-img-p2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-p2 {
  width: 30%;
  margin-left: 6%;
  margin-bottom: 7%;
}

/* -------------------------------------------------------------------------- */
/*                                     p3                                     */
/* -------------------------------------------------------------------------- */

#p3 {
  background-color: #f5f4f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#h1-p3 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 28px;
  font-weight: 400;
  margin: 30px 10% 0px 10%;
}

#text-p3 {
  font-family: "Andika New Basic", sans-serif;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 10%;
  color: #1f4766;
}

.contenedor-img-p3 {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.img-p3 {
  align-self: center;
  width: 28%;
  margin-left: 3.4%;
  margin-bottom: 7%;
  border-radius: 20%;
}

#btn-p3 {
  background-color: #f34e37;
  padding: 10px 30px;
  border-radius: 30px;
  text-align: center;
  text-decoration: none;
  color: #f5f4f5;
  font-family: "Andika New Basic", sans-serif;
  margin: auto auto 10% auto;
  font-size: 23px;
}

/* -------------------------------------------------------------------------- */
/*                                     P4                                     */
/* -------------------------------------------------------------------------- */

#p4 {
  background-image: url(images/P4_2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#contexto-p4 {
  background-color: #f5f4f5;
  padding: 12px 20px 12px 35px;
  margin-top: 20px;
  margin-right: 23%;
  font-family: "Andika New Basic", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #112639;
  border-radius: 0px 15px 15px 0px;
}

#contenedor-img-p4 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin-top: auto;
}

.img-p4 {
  fill: #f5f4f5;
  width: 10%;
  margin: 16px 50px 15px 50px;
}

.h1-p4 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #f5f4f5;
  font-size: 30px;
  font-weight: 400;
  margin: 0px 50px 25px 50px;
}

/* -------------------------------------------------------------------------- */
/*                               P5 P6 P7 P8                                  */
/* -------------------------------------------------------------------------- */

#p5_1,
#p5_2,
#p6,
#p7,
#p8,
#p10_1,
#p10_2,
#p11_1,
#p11_2,
#p12_1,
#p12_2,
#p13_1,
#p13_2,
#p14_1,
#p14_2 {
  background-color: #f5f4f5;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

#contexto-p5,
.contexto-p5 {
  background-color: rgba(255, 205, 56, 0.5);
  padding: 12px 20px 12px 35px;
  margin-top: 20px;
  margin-right: 22%;
  font-family: "Andika New Basic", sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: #1f4766;
  border-radius: 0px 15px 15px 0px;
}

.h1-p5 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 30px;
  font-weight: 400;
  margin: 30px 50px 20px 50px;
}

.img-p5 {
  width: 60%;
  align-self: center;
  margin-bottom: 10px;
}

.img-p6 {
  width: 57%;
  align-self: center;
  margin-bottom: 10px;
}

.img-p7 {
  height: 24%;
  align-self: center;
  margin-bottom: 30px;
}

.img-p8 {
  height: 30%;
  align-self: center;
  margin-bottom: 10px;
  margin-top: 15px;
}

.img-p10A {
  height: 28%;
  align-self: center;
  margin-bottom: 15px;
  margin-top: 15px;
}

.img-p11A {
  height: 38%;
  align-self: center;
  margin-top: 20px;
}

.img-p11B {
  height: 30%;
  align-self: center;
  margin-bottom: 25px;
}

.img-p13 {
  width: 55%;
  align-self: center;
  margin-bottom: 10px;
}

.img-p14 {
  height: 32%;
  align-self: center;
  margin-bottom: 15px;
}

.bottom {
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.btn_container {
  display: flex;
  flex-direction: column;
  width: 800px;
  max-width: 80%;
}

.btn_5 {
  /* links */
  background-color: rgba(0, 144, 135, 0.6);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0px;
  text-decoration: none;
  color: #f5f4f5;
  font-family: "Andika New Basic", sans-serif;
  font-size: 15px;
}

/* -------------------------------------------------------------------------- */
/*                                     P9                                     */
/* -------------------------------------------------------------------------- */

#p9 {
  background-image: url(images/P9.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.h1-p9 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #f5f4f5;
  font-size: 24px;
  font-weight: 400;
  margin: 0px 0px 25px 7%;
  padding: 0%;
}

.h1-p9-2 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #f5f4f5;
  font-size: 24px;
  font-weight: 400;
  margin: 0px 7% 25px 0px;
  padding: 0%;
}

.contenedor-txt-p9 {
  display: flex;
  flex-direction: row;
}

/* -------------------------------------------------------------------------- */
/*                                     P15                                    */
/* -------------------------------------------------------------------------- */

#h1-p15 {
  text-align: center;
  font-family: "Lilita One", cursive;
  color: #1f4766;
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 20px;
  margin-top: 20%;
}

/* -------------------------------------------------------------------------- */
/*                               Feedback popup                               */
/* -------------------------------------------------------------------------- */

/* Fondo oscurecido */
.oscurecer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Feedback */
.feedback {
  background-color: #f5f4f5;
  margin: auto auto; /* 15% from the top and centered */
  padding: 0px;
  height: auto;
  width: 65%; /* Could be more or less, depending on screen size */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.mini-feedback {
  background-color: rgba(108, 199, 184, 0.65);
  font-family: "Lilita One", cursive;
  color: #112639;
  font-size: 22px;
  text-align: center;
  padding: 12px;
}

.feedback-text {
  color: #112639;
  font-family: "Andika New Basic", sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 20px 15px 5px 15px;
}

.feedback-text-smol {
  color: #112639;
  font-family: "Andika New Basic", sans-serif;
  font-size: 16px;
  line-height: 23px;
  margin: 15px 15px 0px 15px;
  margin-bottom: auto;
}

#flecha {
  display: block;
  width: 15%;
  margin: 0px 16px 16px 0px;
  margin-top: auto;
  margin-left: auto;
  opacity: 0.65;
}
